<navbar @toggle-sidebar="toggleSidebar">
    <router-link to="{{pathto(master_doc)}}" class="home-link">
        <img src="/_static/logo.svg" alt="Greenlang logo" class="logo">
        <span style="font-size: 1.5em;color:#073615;font-weight: 666">Greenlang</span>
    </router-link>
  
    <div class="links">
      <navlinks class="can-hide">
        {%- include "util/navlinks.html" %}
        {%- include "util/extlinks.html" %}
        
        <a href="https://github.com/fingreen-ai/greenlang" style="display: flex;align-items: center" target="_blank"> 
            <img src="/_static/github-mark.svg" alt="GitHub" class="github-logo" width="20" style="margin-right:5px">
            View on GitHub
        </a>
      </navlinks>
    </div>
  </navbar>